/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.background-image {
  background-image: url('../images/apple-pie.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px;
  color: white;
 width: 100%;
 height: 450px;

}

.main-content {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 10px;
  padding: 20px;
  
  
}

.main-content h2 {
  margin-bottom: 20px;
  font-weight: lighter;
}

hr {
  width: 80%;
  margin: 20px auto;
 
}

.receipe-image {
  width: 20%;
  margin: 10px auto;
 
}


  .ingredients li{
  list-style-type: none;
  margin-left: 30px;
}
.ingredients li::before{
  content: "-";
}

h1 {
  font-size: 4rem;
  font-weight: lighter;
}