/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
body {
  background-color: rgb(246, 239, 239);
  color: rgb(64, 62, 62); 
  font-family:  "Helvetica", sans-serif; 
   
}
h1 {
  color: white;
  text-align: center;

}
.pie-header {
  display:grid;
  grid-template-areas: "a";
  align-items: center;
}
.pie-header img,
.pie-header h1 {
  grid-area: a;
}

.pie {
  width: 100%;
  height: auto;
  
}

.introduction, .ingredients, .directions {
  max-width: 800px;
  margin: 50px auto;
  font-size: 1.2rem; 
}
.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


h3 {
  margin: 30px auto ;
}
.cook-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section  {
 padding: 2rem;
 font-weight: lighter;
}